@use 'sass:color';

// Dependent colors
$black: #000000;
$white: #ffffff;

$classic-base-color: #383429;
$classic-primary-color: #E3D17B;
$classic-secondary-color: #EEE7C5;
$classic-highlight-color: #D59C00;

$blurple-600: #856100; 
$blurple-500: $classic-highlight-color !default;
$blurple-300: #FFE24F;
$grey-600: #675A35;
$grey-100: $classic-secondary-color !default;

$point: $blurple-500 !default;
$base: $blurple-600 !default;
$backcolor: $white !default;

// Differences
$success-green: lighten(hsl(44deg, 100%, 20%), 8%);

$base-overlay-background: $white !default;
$valid-value-color: $success-green !default;

$ui-base-color: $classic-secondary-color !default;
$ui-base-lighter-color: $classic-primary-color !default;
$ui-primary-color: $classic-primary-color !default;
$ui-secondary-color: $classic-base-color !default;
$ui-highlight-color: $classic-highlight-color !default;

$ui-button-secondary-color: $grey-600 !default;
$ui-button-secondary-border-color: $grey-600 !default;
$ui-button-secondary-focus-color: $white !default;

$ui-button-tertiary-color: $blurple-500 !default;
$ui-button-tertiary-border-color: $blurple-500 !default;

$primary-text-color: $black !default;
$darker-text-color: $classic-base-color !default;
$highlight-text-color: $ui-highlight-color !default;
$dark-text-color: $grey-600 !default;
$action-button-color: #A48E51;

$inverted-text-color: $black !default;
$lighter-text-color: $classic-base-color !default;
$light-text-color: $grey-600 !default;

// Newly added colors
$account-background-color: $white !default;

// Invert darkened and lightened colors
@function darken($color, $amount) {
  @return hsl(
    hue($color),
    color.channel($color, 'saturation', $space: hsl),
    color.channel($color, 'lightness', $space: hsl) + $amount
  );
}

@function lighten($color, $amount) {
  @return hsl(
    hue($color),
    color.channel($color, 'saturation', $space: hsl),
    color.channel($color, 'lightness', $space: hsl) - $amount
  );
}

$emojis-requiring-inversion: 'chains';

body {
  --dropdown-border-color: #EEE7C5;
  --dropdown-background-color: #fff;
  --modal-border-color: #EEE7C5;
  --modal-background-color: var(--background-color-tint);
  --background-border-color: #EEE7C5;
  --background-color: hsl(110deg, 0%, 0%,0);
  --background-color-tint: rgba(255, 255, 255, 85%);
  --background-filter: blur(10px);
  --on-surface-color: #{transparentize($ui-base-color, 0.65)};
  --customcolor:white;
}
